USE [master]
GO
/****** Object:  Database [CryptoCoin]    Script Date: 06/12/2022 17:12:41 ******/
CREATE DATABASE [CryptoCoin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CryptoCoin', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CryptoCoin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CryptoCoin_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CryptoCoin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CryptoCoin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CryptoCoin]
GO
/****** Object:  User [svc_app_Work]    Script Date: 06/12/2022 17:12:41 ******/
CREATE USER [svc_app_Work] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [app_work]    Script Date: 06/12/2022 17:12:41 ******/
CREATE USER [app_work] FOR LOGIN [app_work] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [guest].[Coin]    Script Date: 06/12/2022 17:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [guest].[Coin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Symbol] [varchar](50) NOT NULL,
	[Current_Price] [float] NOT NULL,
	[Market_Cap] [float] NOT NULL,
	[ImageLink] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Coin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Coin' , @level0type=N'SCHEMA',@level0name=N'guest', @level1type=N'TABLE',@level1name=N'Coin'
GO
USE [master]
GO
